<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Customers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id = "wrapper">
        <div id = "header">
            CRM System
        </div>
    </div>
    <div id = "container">
        <div id = "content">
            <input type="button" onclick="window.location.href ='showFormForAdd'; return false;" value="Add new Customer" class="add-button"/>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <tbody>
                <tr th:each="item : ${customers}">
                    <td><span th:text="${item.firstName}">  </span></td>
                    <td><span th:text="${item.lastName}">  </span></td>
                    <td><span th:text="${item.email}">  </span></td>
                    <td><a th:href="@{/customer/showFormForUpdate(customerId=${item.id})}">Update</a>
                        <a th:href="@{/customer/delete(customerId=${item.id})}">Delete</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>